@import "..//scss/vars.scss";

.form {
    padding: 1rem;

    .form__group {
        display: flex;
        justify-content: center;
        padding: 1rem;
        padding-bottom: 0.5rem;

        input {
            background: transparent;
            border: 0px;
            border-bottom: 2px solid $dark-green;
            color: $text-light;
            font-size: 23px;
            margin: 0px;
            outline: none;
            padding: 5px 10px;
            transition: border-bottom 300ms ease;
            width: 80%;

            &:focus {
                border-bottom: 2px solid lighten($color: $dark-green, $amount: 15);
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus {
                box-shadow: 0 0 0px 1000px $darkness inset;
            }

            &:-webkit-autofill {
                -webkit-text-fill-color: $text-light !important;
            }
        }

        button {
            background-color: lighten($color: $dark-green, $amount: 15);
            border-radius: 4px;
            border: 0;
            color: #111c24;
            font-size: 16px;
            font-weight: bold;
            margin-top: 2rem;
            outline: none;
            padding: 0.8rem;
            transition: background-color 300ms ease;

            &:hover {
                background-color: $dark-green;
                cursor: pointer;
            }

            &:disabled {
                background-color: $dark-green;
            }
        }

        p {
            color: $text-light;

            a {
                color: lighten($color: $dark-green, $amount: 15);
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}