$bg-color: #222E35;
$dark-green: #005C4B;
$light-green: #00A884;
$light-red: #E06767;
$darkness: #111B21;
$dark-grey: #202C33;
$dark-gray: #1F2B32;
$text-light: #DEE1E3;
$text-gray: #8696A0;
$text-dark: #222D34;
$linear-gray: #313D45; 
$icon-gray: #67737A;   