@import "../../../assets/scss/vars.scss";

.user-settings {
    &__profile {
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $dark-gray;
            cursor: pointer;
        }

        .profile-image {
            border-radius: 50%;
            height: 85px;
            margin: 1rem;
            overflow: hidden;
            width: 85px;
            min-width: 85px;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .profile-info {
            h2 {
                color: $text-light;
                font-size: 19px;
                font-weight: normal;
                margin-bottom: 0.6rem;
            }

            p {
                color: $text-gray;
            }
        }
    }
}